# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [14]:
first = pd.Series(np.random.randint(1,high=5,size=100,dtype='int'))
second = pd.Series(np.random.randint(1,high =4 ,size = 100, dtype='int'))
third = pd.Series(np.random.randint(1000,high =30001, size = 100, dtype='int'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [15]:
housemkt = pd.concat([first, second, third], axis=1)
housemkt.head()

   0  1      2
0  3  3  17971
1  1  1   9416
2  3  2  14059
3  4  3   3594
4  1  1  26474

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [20]:
housemkt = housemkt.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'})
housemkt.head()

   bedrs  bathrs  price_sqr_meter
0      3       3            17971
1      1       1             9416
2      3       2            14059
3      4       3             3594
4      1       1            26474

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [23]:
bigcolumn = pd.concat([first,second,third])
bigcolumn

0         3
1         1
2         3
3         4
4         1
5         1
6         4
7         4
8         1
9         2
10        2
11        3
12        3
13        4
14        2
15        2
16        3
17        2
18        1
19        4
20        4
21        4
22        3
23        4
24        2
25        1
26        1
27        2
28        3
29        4
      ...
70    28683
71    15055
72     8463
73    14858
74     6290
75    18730
76    12251
77    21139
78    15182
79    10920
80    11430
81    17543
82    24426
83    25641
84    16913
85     6867
86    20613
87     4354
88    21896
89    13825
90    11803
91    26099
92     2392
93    25381
94    28479
95    16974
96    18354
97     7698
98    28915
99    27350
Length: 300, dtype: int64

### Step 6. Ops it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [24]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          3
1          1
2          3
3          4
4          1
5          1
6          4
7          4
8          1
9          2
10         2
11         3
12         3
13         4
14         2
15         2
16         3
17         2
18         1
19         4
20         4
21         4
22         3
23         4
24         2
25         1
26         1
27         2
28         3
29         4
       ...
270    28683
271    15055
272     8463
273    14858
274     6290
275    18730
276    12251
277    21139
278    15182
279    10920
280    11430
281    17543
282    24426
283    25641
284    16913
285     6867
286    20613
287     4354
288    21896
289    13825
290    11803
291    26099
292     2392
293    25381
294    28479
295    16974
296    18354
297     7698
298    28915
299    27350
Length: 300, dtype: int64